.outline {
    background-color: transparent;
    color: #004692;
    transition: all .25s;
}

.btn-primary.outline:hover{
    color: #fff;
    background: #004e92;  /* fallback for old browsers */
    
}

.btn-primary{
    border-color: #004e92;
}

.color-red{
    color: red;
}

.color-orange{
    color: #ff9000;
}

.color-yellow{
    color:#ffd500;
}

.color-lgreen{
    color: #57fe01;
}

.color-green{
    color: #009a00;
}