
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>All Transactions</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Transaction Reference</th>
            <th>Value Date</th>
            <th>Payer Name</th>
            <th>Payer Account</th>
            <th>Payee Name</th>            
            <th>Payee Account</th>
            <th>Amount</th>
            <th>Status</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions | async">
            <td>{{transaction.id}}</td>
            
            <td  colspan="7" *ngIf="transaction.rawPayment; else displayAll ">
              <div class="row justify-content-center">                            
                <a [routerLink]="['/details',transaction.id]" class="btn btn-primary outline">See Details</a> 
              </div>   
            </td>
          <!-- routerLinkActive="active"-->
            <ng-template #displayAll>
              <td>{{transaction.transacRef}}</td>
              <td>{{transaction.date}}</td>
              <td>{{transaction.payerName}}</td>
              <td>{{transaction.payerAccount}}</td>
              <td>{{transaction.payeeName}}</td>
              <td>{{transaction.payeeAccount}}</td>
              <td>{{transaction.amount}}</td>
            </ng-template>

            <td>{{transaction.status}}</td>   
               
          </tr>
        </tbody>
      </table>
    </div>
  </div>