<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="d-flex h-100">
            <div class="align-self-start mr-auto">
                <h2>Uploaded File Transactions</h2>
            </div>
            <div class="align-self-end ml-auto">
                <button (click)="screenAll()" type="button" class="btn btn-primary outline" style="margin: 10px 20px;">
                    Screen All
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!--Table-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Transaction Reference</th>
                    <th>Value Date</th>
                    <th>Payer Name</th>
                    <th>Payer Account</th>
                    <th>Payee Name</th>
                    <th>Payee Account</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>             

                <tr *ngFor="let transaction of transactions | async">
                    <td>{{transaction.id}}</td>

                    <td colspan="7" *ngIf="transaction.rawPayment; else displayAll ">
                        <div class="d-flex justify-content-center">
                            <div id="raw" class="collapse">
                                <label><b>Raw Transaction: </b></label> {{ transaction.rawPayment }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button (click)="toggleButtonContent()" data-toggle="collapse" data-target="#raw"
                                class="btn btn-primary outline">
                                {{btncontent}}
                            </button>
                        </div>
                    </td>

                    <ng-template #displayAll>
                        <td>{{transaction.transacRef}}</td>
                        <td>{{transaction.date}}</td>
                        <td>{{transaction.payerName}}</td>
                        <td>{{transaction.payerAccount}}</td>
                        <td>{{transaction.payeeName}}</td>
                        <td>{{transaction.payeeAccount}}</td>
                        <td>{{transaction.amount}}</td>
                    </ng-template>


                    <td [ngClass]="{'color-red': transaction.status === 'Screen Fail',
                        'color-orange': transaction.status === 'Validate Fail',
                        'color-yellow': transaction.status === 'Validate Pass',
                        'color-lgreen': transaction.status === 'Possible Screen Pass',
                        'color-green': transaction.status === 'Screen Pass'}">
                        <div class="d-flex align-items-center">
                            <b> {{transaction.status}}</b>

                            <div *ngIf="transaction.status === 'Validate Pass'">
                                <button (click)="screenTransaction(transaction.id)"
                                    class="btn btn-primary btn-sm outline" style="margin: 0 0 2px 10px;">Screen</button>
                            </div>
                        </div>
                    </td>

                </tr>     
            </tbody>
        </table>        
    </div>
</div>